<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApplication">
        <activity
            android:name=".Tracker.TrackerCalorieView"
            android:exported="false" />
        <activity
            android:name=".Tracker.TrackerWeightView"
            android:exported="false" />
        <activity
            android:name=".Tracker.CalorieTrackerMain"
            android:exported="false" />
        <activity
            android:name=".Tracker.WeightTrackerMain"
            android:exported="false" />
        <activity
            android:name=".Tracker.TrackerMain"
            android:exported="false" />
        <activity
            android:name=".Cardio.CardioAdvanced"
            android:exported="false" />
        <activity
            android:name=".Cardio.CardioIntermediate"
            android:exported="false" />
        <activity
            android:name=".Cardio.CardioBeginner"
            android:exported="false" />
        <activity
            android:name=".Yoga.YogaAdvanced"
            android:exported="false" />
        <activity
            android:name=".Yoga.YogaIntermediate"
            android:exported="false" />
        <activity
            android:name=".Yoga.YogaBeginner"
            android:exported="false" />
        <activity
            android:name=".StrengthTraining.MuscleGroupArms"
            android:exported="false" />
        <activity
            android:name=".StrengthTraining.MuscleGroupLegs"
            android:exported="false" />
        <activity
            android:name=".StrengthTraining.MuscleGroupShoulder"
            android:exported="false" />
        <activity
            android:name=".StrengthTraining.MuscleGroupBack"
            android:exported="false" />
        <activity
            android:name=".StrengthTraining.MuscleGroupChest"
            android:exported="false" />
        <activity
            android:name=".Cardio.WorkoutCardioGroups"
            android:exported="false" />
        <activity
            android:name=".Yoga.WorkoutYogaGroup"
            android:exported="false" />
        <activity
            android:name=".StrengthTraining.WorkoutStrengthGroup"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Goals"
            android:exported="false" />
        <activity
            android:name=".WorkoutRecs"
            android:exported="false" />
        <activity
            android:name=".ProfilePage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>